<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>BLOG</title>
	<meta content="text/html; charset=ISO-8859-1"
	http-equiv="content-type">
	<style type="text/css">
		h2{
			text-decoration: underline;
		}
		body{
			background-color: #a9b7ce;
		}
	</style>
</head>
<body>
	<div>
		<h2>First Post</h2>
		<h6>Published date: 04/06/18</h6>
		<p>This is my first post for this blog.</p>
	</div>
	<div>
		<h2>Second Post</h2>
		<h6>Published date: 05/06/18</h6>
		<p>This is my second post XOXO</p>
	</div>
	<div>
		<h2>Third Post</h2>
		<h6>Published date: 06/06/18</h6>
		<p>3rd post yay!! YOLO</p>
	</div>
</body>
</html>